<div class="container mt-5">
    <h2>List of Employees</h2>
<a routerLink="employee/add/0"class="btn btn-primary mt-5 mb-3">Employee Registration</a>
<h3>Click on the Employee Registration button to register the Employee.</h3>
    <mat-divider></mat-divider>
   <div class="employee-table">
    <table *ngFor = "let employee of employees">
        <tr>
            <mat-divider></mat-divider>
            <h1>{{employee.id}}.</h1>
            <mat-card class="employee-card">
                <mat-card-header>
                    <div mat-card-avatar class="employee-header-image"></div>
                    <mat-card-title>{{employee.name}}</mat-card-title>
                    <mat-card-subtitle>{{employee.position}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                   <span>Email : </span> {{employee.email}}
                </mat-card-content>
                <mat-card-content>
                    <span>Joining Date :</span>
                    {{employee.joining_date}}
                </mat-card-content>
                <mat-card-content><span>Mob. : </span>{{employee.phone}}</mat-card-content>
                <mat-card-content><span>About : </span>{{employee.about}}</mat-card-content>
                <mat-card-footer>
                    <button class="btn btn-warning btn-sm" [routerLink]="['employee/edit',employee.id]">Edit</button>
                    <button class="btn btn-danger btn-sm m-3" (click)="onDelete(employee.id)">Delete</button>
            </mat-card-footer>
            </mat-card>
        </tr>
    </table>
   </div>
</div>

